.pagination {
  width: auto;
  font-size: 2rem;
  line-height: 1.5;
  margin: 1rem;
  .pagePanel {
    padding: 3.2rem 0;
    margin: 0 auto;
    font: normal normal 2.4rem/1 sans-serif;
    text-align: center;
    color: rgba(82, 82, 82, 1);
    > span {
      padding: 0 0.8rem;
      cursor: pointer;
    }
    .selectedPage {
      font-size: 2.4rem;
      font-weight: 600;
    }
    .pageNumber {
      width: auto;
    }
  }
}