@import 'variables.module';

@mixin gridContainer($maxGridWidth, $gradient) {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.2rem;
  max-width: $maxGridWidth;
  margin: 0 auto;
  padding: 0;
  background: $gradient
}

@mixin gridBox($start, $end, $boxBg){
  display: grid;
  grid-column-start: $start;
  grid-column-end: $end;
  background-color: $boxBg;
}

@mixin textInputs() {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  font: $typoInputs;
  border: none;
  border-bottom: 0.2rem solid $borderInputColor
}