@import 'src/styles/variables.module';
@import 'src/styles/mixins.module';

.container {
  @include gridContainer (96.2rem, transparent);
  .box {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 2.4rem 3.2rem;
    border-radius: 0.8rem;
    grid-column: 1 / span 12;
    font-size: 1.6rem;
    line-height: 1;
    overflow: hidden;
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      h1, h2 {
        color: $primary
      }
      h1 {
        line-height: 3.6rem;
      }
      h2 {
        @include formHeader2();
      }
    }
  }
}
