@import 'src/styles/variables.module';
@import 'src/styles/mixins.module';

.container {
  @include gridContainer (100.8rem, transparent);
  overflow:hidden;
  margin: 0 2.4rem;
  .box {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0.8rem;
    grid-column: 1 / span 12;
    font-size: 1.6rem;
    line-height: 1;
    overflow: hidden;
    .inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .tableHeader{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
      }
    }
  }
}
