@import 'src/styles/variables.module';
@import 'src/styles/mixins.module';

.container {
  @include gridContainer (100.8rem, transparent);
  .box {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 2.4rem 3.2rem;
    border-radius: 0.8rem;
    grid-column: 1 /span 12;
    font-size: 1.6rem;
    line-height: 1;
    overflow: hidden;
    .searchPacks {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    .tableBox {
      display: block;
      thead, tbody {
        display: block;
        tr {
          @include gridContainer(100%, transparent);
          width: 100%;
          >td, >th {
            display: block;
            text-align:left;
            white-space: nowrap;
          }
          > th:nth-child(1), > td:nth-child(1) {
            grid-column: 1 / span 4;

          }
          > th:nth-child(2), > td:nth-child(2) {
            grid-column: span 4;
          }
          > th:nth-child(3), > td:nth-child(3) {
            grid-column: span 2;
          }
          > th:nth-child(4), > td:nth-child(4) {
            grid-column: -1 /span 2;
          }
        }
      }
    }
  }
}
